

<div class="container h-screen mx-auto" >
  <div class="flex flex-col h-full w-full justify-center space-y-14 pb-20">
    <div class="mx-auto">
      <p class="text-7xl text-white font-noto font-thin">私の年表</p>
    </div>
    <% if logged_in? %>
      <div class="flex justify-center text-lg font-noto font-thin"><%= current_user.name %> 様</div>
    <% else %>
      <div class="flex justify-center space-x-4">
        <%= link_to t("static_pages.top.sign_up"), new_user_path, class: "w-1/4 flex justify-center cursor-pointer text-sm sm:text-base font-thin text-white border border-slate-600 bg-slate-600 hover:text-black hover:bg-white hover:shadow-lg transition duration-200 outline-none" %>
        <%= link_to t("static_pages.top.login"), login_path, class: "w-1/4 flex justify-center cursor-pointer text-sm sm:text-base font-thin text-white border border-slate-600 bg-slate-600 hover:text-black hover:bg-white hover:shadow-lg transition duration-200 outline-none" %>
      </div>
    <% end %>
  </div>
</div>
