
  <p>トップページ</p>
  <div class="flex ml-auto">
    <button class="btn btn-outline-primary btn-s"><%= link_to "新規登録", new_user_path %></button>
    <button class="btn btn-outline-primary btn-s"><%= link_to "ログイン", login_path %></button>
  </div>
