<div class="container h-screen mx-auto">
  <div class="pt-20 space-y-10">
    <div class="flex items-center justify-center w-full">
      <%= link_to t("milestones.new.title"), new_milestone_path, class: "w-1/4 flex justify-center cursor-pointer text-sm sm:text-base font-thin text-white border border-black/50 bg-black/50 hover:text-black hover:bg-white hover:shadow-lg transition duration-200 outline-none" %>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8 mx-4">
        <% if @milestones.present? %>
          <%= render @milestones %>
        <% else %>
          <p class="mb-3 mt-4">年表がありません</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
