@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.line-clamp-15 {
  display: -webkit-box;
  -webkit-line-clamp: 15;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-14 {
  display: -webkit-box;
  -webkit-line-clamp: 14;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-17 {
  display: -webkit-box;
  -webkit-line-clamp: 17;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-6 {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.spikes::after {
  content: '';
  position: absolute;
  left: -5px;
  bottom: 0%;
  top: 0;
  z-index: 10;
  display: block;
  width: 10px;
  background-size: 100% 10px;
  background-image: linear-gradient(225deg, #2c3e50 25%, transparent 25%), linear-gradient(135deg, #2c3e50 25%, transparent 25%);
}
